In [ ]:
Introduction pyhthon training programme

In [ ]:
Understanding the variables in python :

In [13]:
num1 = 3
num2 = 4

In [14]:
result = num1+num2
print(result)

7

In [ ]:
# shift + enter button on keyboard to submit

In [ ]:
Rules for declaring the variables in python:
Rule No 1: No Namespace for declaring the variables names

In [15]:
first name = "Asif"

print(first name)

SyntaxError: invalid syntax (1529493019.py, line 1)

In [16]:
firstname = "Asif"

print(firstname)

Asif

In [ ]:
Rule no 2: A variable name should not start with number

In [17]:
1name = "khan"

print(1name)

SyntaxError: invalid decimal literal (1774645179.py, line 1)

In [18]:
name1 = "khan"

print(name1)

khan

In [ ]:
Rule No 3: A variable name should not contains any special characters

In [19]:
name@ = "Danish"

print(namne@)

SyntaxError: invalid syntax (2001096330.py, line 1)

In [ ]:
special characters are --> #,@,! ,$ ,% ,^, &, *, ( ,),etc

In [ ]:
Introduction to database in python :

In [ ]:
1. strings ---> str

In [ ]:
2. Numbers --> integers -- int, float (decimals numbers) ---> 22.88,etc

In [ ]:
3. Lists ----> list

In [ ]:
4. tuples -----> tuple

In [ ]:
5. Dictionaries ---> dict

In [ ]:
Clarification of datatypes:

Broadly datatypes are classified into two categories

1. mutable datatypes ----> which we can be able to edit/alter
2. immutable datatypes ---> which we cannot be able to edit/alter

In [ ]:
Introduction to string datatype:

In [ ]:
Defination: A string is a series of characters declared in quotes.

classification : it is classified as an immutable datatype

how to declare the string?
1. single quote ---> 'Asif'
2. double quote ----> "Asif"